<div class="container mt-1">
  <!-- header part -->
  <div class="row">
      <div class="col">
          
          <h2><i class="fa-solid fa-eye"></i>View Contact Page
          </h2>
     
  
      <p class="mt-3" style="text-align:justify">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere distinctio doloremque amet tempora. Illo vel quo quod aspernatur unde voluptatem velit ullam non ipsam, doloribus voluptates alias exercitationem, praesentium voluptas! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere distinctio doloremque amet tempora. Illo vel quo quod aspernatur unde voluptatem velit ullam non ipsam, doloribus voluptates alias exercitationem, praesentium voluptas!  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere distinctio doloremque amet tempora. Illo vel quo quod aspernatur unde voluptatem velit ullam non ipsam, doloribus voluptates alias exercitationem, praesentium voluptas!   
      </p>
           
  </div> 
</div>
<!-- row -->
<div class="row mt-5 justify-content-center">
  <div class="card p-2  d-flex justify-content-center align-items-center" style="width: 40rem;">
    <img [src]="contact.photo" class=" contact-img " alt="contact">
    <div class="card-body text-center">
      <h5 class="card-title fw-bolder text-danger">{{contact.name}}</h5>
            <p class="card-text text-primary">Mobile:{{contact.mobile}}</p>
            <p class="card-text text-success">Email:{{contact.email}}</p>
            <p class="card-text text-warning">Company:{{contact.company}}</p>
            <p class="card-text text-info">Title:{{contact.title}}</p>
            <p class="card-text text-secondary">Group:{{groupName}}</p>

    </div>
  </div>
</div>
</div>